<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
    * {
      margin: 0;
      padding: 0
    }

    body {
      color: #757575;
      font-family: 'Source Sans Pro', 'Lucida Grande', sans-serifs;
      font-size: 20px;
    }

    .wrapper {
      width: 1200px;
      margin: 30px auto;
    }

    .dirname {
      font-size: 28px;
      color: #333;
    }

    .item {
      list-style: none;
      line-height: 40px;
    }

    h5 {
      margin-top: 10px;
    }
  </style>
</head>

<body>
  <div class='wrapper'>
    <h3>Contain
      <%= filesCounts%> files or folders</h3>
    <ul>
      <% dirs.forEach(dir=>{ %>
        <li class='item'>
          <a href="<%= dir.path %>">
            <%= dir.name %>
          </a>
        </li>
        <% }) %>
    </ul>
    <h5>
      <i>Server running @
        <%= localurl%>
      </i>
    </h5>
  </div>
</body>

</html>